<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
    <title>Loan Agreement</title>
    <style type="text/css">
        body {
            margin: inherit;
        }

        table {
            margin: 0 3%;
            border-collapse: collapse;
            width: 94%;


            text-align: center;
            font-size: 16px;
            border: 0.5px solid black;
        }


        td {
            border: 0.5px solid black;
            width: 50%;
            height: 60px;
        }

        h1 {
            text-decoration: underline;
            text-align: center;
            font-size: 16px;
        }

        h2,
        h4 {
            text-align: center;
            font-size: 16px;
        }

        h3 {
            margin: 30px;
            color: black;
            text-align: left;
            font-size: 16px;
        }

        h5 {
            margin: 30px 0 0 30px;
            color: black;
            text-align: left;
            font-size: 14px;
        }

        p {
            margin: 0 30px;
            line-height: 35px;
            font-size: 14px;
        }

        span {
            font-family: georgia;
            font-weight: bold;
        }
    </style>

</head>

<body>
<header>
    <h1>LOAN AGREEMENT</h1>

</header>
<p><strong> This Loan Agreement is executed on date ${name} </strong></p>
<h2>Between</h2>

<p><span>M/s- RHINO FINANCE PRIVATE LIMITED</span>, a Company incorporated under the Companies Act 2013 having its
    registered office at <span>REG. OFFICE: R. DUTTA BUILDING, 2ND FLOOR, A. T. ROAD, GUWAHATI – 781001. CORP. OFFICE : GROUND FLOOR, H- 55, SEC- 63, NOIDA, UTTAR PRADESH- 201301.</span>,
    hereinafter referred to as the Lender which expression unless repugnant to the context shall mean and includes its
    legal representatives, assignee, nominee(s) and administrator;
</p>

<h2>And</h2>

<p><span>[NAME] (PAN :__________), S/o:  [NAME], R/o:</span> _______________________________________________ hereinafter
    referred to as the Borrower which expression unless repugnant to the context shall mean and includes its legal
    representatives, assignee, nominee(s) and administrator; Whereas at the request of the <span>Borrower</span>, the
    Lender has agreed to grant a loan not exceeding a sum of<span> INR [AMOUNT] (IN NUMBERS) </span>to the Borrower for
    a period of ________________ on terms and conditions hereinafter contained.
</p>

<h3>WHEREAS</h3>
<p>1.The Lender is engaged in the business of providing finance to a wide range of customers.

</p>
<p>2.The Borrower is a Major/ Firm / Body Corporate, competent to execute this Agreement. The Borrower (In case of a
    company) has taken all necessary corporate approvals and other actions for execution of this Agreement and availing
    this Loan from the Lender; and the execution hereof constitutes legal, valid and binding obligations of the
    Borrower; and that there are no suits, actions or proceedings against the Borrower pending before any court of law,
    which might affect the Borrower in performance of the obligations hereunder.
</p>

<h3>NOW, THEREFORE, THE PARTIES HEREBY AGREE AS UNDER:</h3>
<h5>1.Promise to Pay</h5>
<p>The Borrower promises to repay Lender the sum of [AMOUNT], along with interest and other charges stated below, within
    [NUMBER] months from today.
</p>
<h5>2.Employment Status</h5>
<p>The Borrower must be in permanent employment and must not be self-employed.
</p>
<h5>3.Credit Checks</h5>
<p>The Lender reserves the right to carry out checks on Borrower’s status through credit references and fraud prevention
    agencies.
</p>
<h5>4.Term of the Loan</h5>
<p>The maximum loan period is ___ months from the date the loan is accepted. At the very minimum, interest on the loan
    plus a minimum stipulated principal repayment must be paid monthly with the full amount (principal and interest)
    repaid within the specified term agreed by the Lender and the Borrower.
</p>
<h5>5.Breakdown Of Principal Loan Amount:</h5>
<p>Amount of Loan:_________</p>
<p>Other (Describe):_________</p>
<p>Amount financed:_________</p>
<p>Finance charge:_________</p>
<p>Total of payments:_________</p>
<h5>6.Rate of Interest:</h5>
<p>For the purpose of repayment, the interest rate on the principle amount of loan under this Agreement shall be __ per
    annum. The rate of interest is subject to change based on market conditions.
</p>
<h5>7.Disbursement:</h5>
<p> The proceeds of the loan will be paid over to the Borrower at the discretion of the Lender or its Loan Officer that
    the applicant has satisfactorily met all requirements.
</p>
<h5>8.Repayment
</h5>
<p>Loan repayments starting immediately will be made directly to the Lender’s Bank Account or other approved method.

</p>
<h5>9.Late Charges
</h5>
<p>If the loan amount is not re paid within the specified time, then shall attract a levy of a late charge of
    [percentage] of the payment.

</p>
<h5>10.Default
</h5>
<p>The borrower shall be at default, if for any reason he fails to make the payment on time. The Lender will then be
    entitled to demand an immediate payment of the entire unpaid balance that remains of this loan, without giving a
    further notice.
</p>
<p>The Borrower for further delay shall be charged an interest of [_1_%] per year on the unpaid balance.
</p>
<p>The lender may approach the appropriate judicial authority in Noida in case any dispute regarding repayment is not
    resolved by the terms mentioned.

</p>
<h5>11.Amendment
</h5>
<p>The Loan Agreement may be amended with consent of both parties notified in a written form and signed by the
    authorized individuals.

</p>
<h5>12.Force majeure:
</h5>
<p>This Agreement shall be construed and governed by the laws of India and courts of law at Noida shall have exclusive
    jurisdiction over such disputes without regard to principles of conflict of laws.
</p>
<div style="display: flex;">
    <div style="flex: 1;">
        <h3>LENDER</h3>

        <p style="margin-top: 40px ;">________________</p>
        <p>Authorized Signature</p>
        <p style="margin-top: 40px ;">________________</p>
        <p>Legal Name and Title </p>
    </div>
    <div style="flex: 1;">
        <h3>BORROWER</h3>

        <p style="margin-top: 40px ;">________________</p>
        <p>Authorized Signature</p>
        <p style="margin-top: 40px ;">________________</p>
        <p>Legal Name and Title </p>
    </div>
</div>
<h1 style="line-height: 70px;">SCHEDULE 1</h1>
<div style="display: flex;">
    <div style="flex: 1;">
        <p>Loan Agreement No.:</p>
        <p>Types of Loan: Payday Loan</p>

        <p>Name and Address of the Lender: </p>
    </div>
    <div style="flex: 1;">
        <p>Agreement Date: </p>
        <p></p>

        <p><span>M/s Rhino Finance Private Limited</span></p>
        <p>REG. OFFICE: R. DUTTA BUILDING, 2ND FLOOR, A. T. ROAD, GUWAHATI – 781001.</p>
        <p>CORP. OFFICE : GROUND FLOOR, H- 55, SEC- 63, NOIDA, UTTAR PRADESH- 201301.</p>

    </div>

</div>
<p style="line-height: 100px;">Name and Address of the Borrower:
</p>
<p>Purpose of Loan:
</p>
<p>Loan Amount:
</p>
<p>Annualized / Effective Rate of Interest:
</p>
<p>Tenure (Months) EMI Frequency Monthly/ _________</p>
<h1 style="margin-top: 40px;">SCHEDULE 2 </h1>
<h1 style="margin-top: 30px;">Schedule of Fees</h1>
<table>
    <tr>
        <td>Processing Charges</td>
        <td>Rs.</td>
    </tr>
    <tr>
        <td>Stamp Duty</td>
        <td>Rs.</td>
    </tr>
    <tr>
        <td>Pre Emi Interest @ _____ % p.a</td>
        <td>Rs.</td>
    </tr>
    <tr>
        <td>Insurance premium for First year (optional)</td>
        <td>Rs.</td>
    </tr>
    <tr>
        <td>Credit shield (optional) for Rs. _____________</td>
        <td>Rs.</td>
    </tr>
    <tr>
        <td>Others(please specify)</td>
        <td>Rs.</td>
    </tr>

</table>
<p style="margin-top: 40px;"><span>All fees shall be paid together with all taxes including Goods and Service Tax (GST) as may be applicable from time to time.
</span></p>

</body>

</html>
