<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style>
        body {
            font-family: SimHei;
        }

        .blue {
            color: blue;
        }

        .pos {
            position: absolute;
            left: 100px;
            top: 150px
        }
    </style>
</head>
<body>
<table border="1">
    <tr>
        <th>user_address</th>
        <th>nick_name</th>
        <th>login_name</th>
        <th>goods_name</th>
        <th>selling_price</th>
        <th>goods_cover_img</th>
    </tr>
    <tr>
        <td>${user_address}</td>
        <td>${nick_name}</td>
        <td>${login_name}</td>
        <td>${goods_name}</td>
        <td>${selling_price}</td>
        <td>${goods_cover_img}</td>
    </tr>
</table>
</body>
</html>
